body {
    font-family: sans-serif;
}

header {
    background-image: linear-gradient(to right bottom, blue, white, gold);
    text-align: center;
}

a {
    color:black;
    text-decoration:none;
}

.name1 {
    margin-left:20px ;
    margin-top:100px;
}

.img-main1 {
    position:relative;
    float: right;
    bottom:100px;
}

.span-main1 {
    display: block;
    width: 500px;
}

.name2 {
    text-align: center;
}

.img-main2 {
    margin-top:10px;
    text-align: center;
}

.img-main2:hover {
    box-shadow: 2px 2px 10px 0 orangered;
    transition: 1.1s linear;
    transform:scale(1.09);

}

.p-main {
    text-align: center;
}

.p-main-price {
    text-align: center;
    font-size:12px;
    
}

.h2-main {
    margin-top: 50px;
    text-align: center;
}

.img-main3 {
    margin-left: 150px;
}

.p-main2 {
    margin-left: 180px;
    text-align: center;
}

.p-main-price2 {
    text-align: center;
    margin-left:180px;
    font-size:12px;
}

.h2-main0 {
    text-align: center;
    margin-top:30px;
}

.span-main123 {
    position:absolute;
    margin-top:100px;
    margin-left:100px;
}

.img-main123 {
    margin-right: 10px;
}

.img-main123:hover {
    box-shadow: 2px 2px 10px 0 crimson;
    transition: 1s linear;
    transform:scale(1.05);
}

.img-main4 {
    position:absolute ;
    margin-top: 50px;
    margin-right: 10px;
}

.img-main4:hover {
    box-shadow: 2px 2px 10px 0 purple;
    transition: 1s linear;
    transform:scale(1.05);
}

.span-main123 {
    position:absolute;
    margin-top:100px;
    margin-left:110px;
}

.span-main456 {
    margin-top:50px;
    position: absolute;
}

footer {
    padding:1px;
    margin-top:200px;
    background-image: linear-gradient(to right bottom, gold, white, blue);
}

footer p {
    font-size:20px;
}

footer span {
    bottom:25px;
    margin-left:777px;
}

footer img {
    float:right;
}


.pos{
    width: 25%;
    
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}
footer img {
    float:right;
}
